* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

a {
    color: #555;
    text-decoration: none;
}

p {
    color: #555;
}

.container {
    max-width: 1350px;
    margin: auto;
    padding: 0 25px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 400px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}